Unit 2/Project 2/mnist/part2-twodigit/sample_images
*.DS_Store
Unit 3/Project 3/mnist/__pycache__
Unit 3/Project 3/mnist/part2-twodigit/sample_images
Unit 2/Project 2/mnist/__pycache__
Unit 2/Project 2/mnist/part1/__pycache__
Unit 3/Project 3/mnist/part1/__pycache__
.vscode
Unit 3/Project 3/mnist/Datasets
Unit 3/Project 3/mnist/part2_mnist/__pycache__
Unit 3/Project 3/mnist/part2_twodigit/sample_images
Unit 3/Project 3/mnist/part2_twodigit/__pycache__
Unit 3/Project 3/mnist_model_fully_connected.pt
Unit 3/Project 3/mnist_model_fully_connected.pt
Unit 4/Project 4/netflix/__pycache__
Unit 4/Project 4/resources_netflix.tar.gz
Unit 5/Project 5/rl/__pycache__
