Unit 2/Project 2/mnist/part2-twodigit/sample_images
*.DS_Store
Unit 3/Project 3/mnist/__pycache__
Unit 3/Project 3/mnist/part2-twodigit/sample_images
Unit 2/Project 2/mnist/__pycache__
Unit 2/Project 2/mnist/part1/__pycache__
Unit 3/Project 3/mnist/part1/__pycache__
.vscode
Unit 3/Project 3/mnist/Datasets
